* {
    font-family: 'Bungee', cursive;
    box-sizing: border-box;
    margin: 0;
    scrollbar-width: none;
}
a {
    text-align:center;
    justify-content:center;
}
.nav {
    width: 100vw;
    height: 50px;
    margin: 5px;
    border: solid white 5px;
    border-radius: 10px;
}
html, body {
    height: 100vh;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
}
.modal {
    width: 50vw;
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
}
body{
    background-attachment: fixed;
    background-image: url(img/toad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}