* {
    font-family: 'Bungee', cursive;
    box-sizing: border-box;
}
body {
    background-color: #247ba0;
    margin: 0;
    position: relative;
}
p{
    margin-bottom: 60px;
}
h3, p{
    text-align:center;
    color: white;
}
.btn {
    color: #fffcff;
    border-radius: 10px;
    margin: 5px;
    flex: 1;
    font-size: 1rem;
    background-color: #f24236;
    text-align: center;
    min-width: fit-content;
    padding: 5px;
    cursor: pointer;
}
.hidden{
    display:none;
}
#navButtons{
margin: auto;
}
#navMenu {
    margin-top: 5px;
    cursor: pointer;
    background-color: #50514f;
    margin: 0;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 10vh;
    z-index: 4;
    top:0;
    position: fixed;
}
.spacer{
    height: 10vh;
    width: 100%;
}
.vertical {
    max-width: 10vh;
    max-height: 10vh;
}
#pkmTeam {
    height: 100%;
    max-width: 15vh;
    justify-content: space-between;
    flex-direction:column;
    top: 0;
    float: left;
    position: fixed;
    padding-bottom: 15px;
}
.sticky {
    position: sticky;
    z-index: 3;
}
.container {
  align-items:center;
  background-color: #247ba0;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-between;
  padding: 5px;
}
#box{
    margin-left:11vh;
    margin-top: 10vh;
}
.pkmTeam {
  flex: 1;
  max-width: 320px;
  max-height: 320px;
}
.image {
 height: 100%;
 z-index: 2;
}
.pkm{
    max-width: 300px;
    display: flex;
    border-radius: 100%;
}
.placeholder {
    display: flex;
    border-radius: 100%;
}
.shadow {
    box-shadow: 0 0 4px 4px #403630;
}
.row{
  display: flex;
}

#weakType{
  position: absolute;
  list-style: none;
  display: flex;
  margin: auto;
  justify-items: center;
}
.name, .type{
  display: flex;
  position: absolute;
  width: 100%;
  border-radius: 50px;
  padding: 1.25rem;
  align-self: center;
  line-height: 0;
  justify-content: center;
  margin: -20px;
  white-space: nowrap;
  
}
.name{
  font-size: 2rem;
}
.type{
  bottom: 0;
  font-size: 1.5rem;
}
#enemyTeamViewer{
    display: flex;
    flex-wrap: wrap;
    justify-items:end;

}
.enemyTeam {
    flex: 1 1 0;
    min-width: 0;
    max-width: 20vw;
    max-height: 20vw;
    margin: auto;
}
.pkmBox {
    color: #fffcff;
    border-radius: 15px;
    box-shadow: 0 0 4px 4px #50514f;
    margin: 12px;
    flex: 1 25%;
    font-size: 1.25rem;
    display: flex;
    width: 300px;
    height: 80px;
    padding: 5px;
    align-items: center;
}
.flex {
    flex: 1;
}
.center {
    text-align: center;
}
.option {
    width: 80px;
    height: 80px;
}
.pkmBox:hover {
  background-color: #f24236;
}
.batttleGround {
    width: 100%;
    height: 40vh;
    position: sticky;
    top: 0;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83htw0-ec490c3b-f7dd-4570-a698-8404a8a12f99.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDgzaHR3MC1lYzQ5MGMzYi1mN2RkLTQ1NzAtYTY5OC04NDA0YThhMTJmOTkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.zFeU6uxxutMPR_qMMoP5MOM8N4EqbYuZWc_naTh8Rpw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left, .right {
    margin: 3px;
}

.left {
    width: 130px;
    float: left;
}

.right {
    float: right;
    width: 100px;
}
.imageSquare {
    width: 100%;
    height:100%;
}
.partner {
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.protect {
    border-top: solid rgb(187, 255, 255) 10px;
    border-left: solid rgb(187, 255, 255) 10px;
    border-radius: 100%;
}
.enemy {
    position: absolute;
    right: 0;
}

.health {
    border-top: solid green 10px;
}

.moveOptions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #247ba0;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}

.pkmOpt {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #157299;
    margin: 10px 20px;
    box-shadow: 2px 2px 4px 4px #50514f;
    text-align:center;
    color: white;
    font-size: 1.5rem;
}
.optSelector {

    width: 100px;
    height: auto;
    border-radius: 10px;
    background-color: #157299;
    margin: 10px 20px;
    box-shadow: 2px 2px 4px 4px #50514f;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.optText {
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 10px;
}

.optImage {
    width: 100px;
    height: auto;
}
.pkmCard {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    height: 525px;
    width: 350px;
    z-index: 9;
    color: white;
    padding-top: 4px;
}
.cardButton {
    position: absolute;
    bottom: 5px;
}
.cardImage {
    height: 220px;
}
#nameType{
    height:20px;
    margin:4px 0;
}
.title {
    font-size: 22px;
    position: relative;
    line-height: 20px
}
.typingIcon {
    height: 24px;
    width: 24px;
    margin: 0 2px;
}
li {
    list-style: none;
}

.baseStats {
    font-size: 14px;
    padding: 0 15px;
    line-height: 14px
}

ul {
    margin-left: 0;
}

.space-between {
    flex: 1;
    justify-content: space-between;
}

.space-around {
    flex: 1;
    justify-content: space-around;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}
.mt-10{
    margin-top: 10px
}
.mb-10{
    margin-bottom: 10px;
}
.center {
    justify-content: center;
}

.dataPill {
    background-color: rgba(80,81,79,0.1298494397759104);
    border-radius: 25px;
    padding: 5px 10px;
    margin: 5px 15px;
}

.hitPoints {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.colomn {
    display: flex;
    flex-direction: column;
}

.typeList {
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.centerText {
    text-align: center;
    line-height: 24px
}
/*
    .lineHeight {
   line-height: 30px;
   text-align: center;
}
*/

.smallerTypingIcon {
    height: 25px;
    width: 25px;
    margin: 2px;
}

.type1-steel-type2-bug{
background: linear-gradient(0deg, rgba(183,183,206,1) 45%, rgba(166,185,26,1) 65%);
}
.type1-fire-type2-bug{
background: linear-gradient(0deg, rgba(238,129,48,1) 45%, rgba(166,185,26,1) 65%);
}
.type1-ghost-type2-fairy{
  background: linear-gradient(0deg, rgba(115,87,151,1) 45%, rgba(214,133,173,1) 65%);
  }
.type1-steel-type2-fairy {
    background: linear-gradient(0deg, rgba(183,183,206,1) 45%, rgba(214,133,173,1) 65%);
}
.type1-water-type2-fairy{
background: linear-gradient(0deg, rgba(99,144,240,1) 45%, rgba(214,133,173,1) 65%);
}
.type1-electric-type2-flying{
  background: linear-gradient(0deg, rgba(247,208,44,1) 45%, rgba(169,143,243,1) 65%);
}
.type1-dragon-type2-ground{
  background: linear-gradient(0deg, rgba(111,53,252,1) 45%, rgba(226,191,101,1) 65%);
}
.type1-electric-type2-steel{
  background: linear-gradient(0deg, rgba(247,208,44,1) 45%, rgba(183,183,206,1) 65%);

}.type1-fighting-type2-ground{
  background:  linear-gradient(0deg, rgba(194,46,40,1) 45%, rgba(226,191,101,1) 65%);
}
.type1-dragon-type2-ice{
  background: linear-gradient(0deg, rgba(111,53,252,1) 45%, rgba(150,217,214,1) 65%);
}
.type1-water-type2-psychic{
  background: linear-gradient(0deg, rgba(99,144,240,1) 45%, rgba(249,85,135,1) 65%);
}
.type1-grass-type2-dark{
  background: linear-gradient(0deg, rgba(122,199,76,1) 45%, rgba(64,54,48,1) 65%);
}
.type1-ground-type2-dark {
    background: linear-gradient(0deg, rgba(226,191,101,1) 45%, rgba(64,54,48,1) 65%);
}
.type1-fire-type2-dark{
  background: linear-gradient(0deg, rgba(238,129,48,1) 45%, rgba(64,54,48,1) 65%);
  }
.type1-fire-type2-fighting{
  background: linear-gradient(0deg, rgba(238,129,48,1) 45%, rgba(194,46,40,1) 65%);
}
.type1-ghost-type2-poison{
  background: linear-gradient(0deg, rgba(115,87,151,1) 45%, rgba(163,62,161,1) 65%);
}
.type1-dragon-type2-dark{
  background: linear-gradient(0deg, rgba(111,53,252,1) 45%, rgba(64,54,48,1) 65%);
}
.type1-ghost-type2-steel{
  background: linear-gradient(0deg, rgba(115,87,151,1) 45%, rgba(183,183,206,1) 65%);
}
.type1-psychic-type2-psychic{
  background:linear-gradient(0deg, rgba(249,85,135,1) 45%, rgba(203,53,98,1) 65%);
}
.type1-dragon-type2-flying{
  background: linear-gradient(0deg, rgba(111,53,252,1) 45%, rgba(169,143,243,1) 65%);
}
.type1-ground-type2-ground{
  background: linear-gradient(0deg,  rgba(226,191,101,1) 45%, rgba(200,160,56,1) 65%);
}
.type1-dragon-type2-ghost{
  background: linear-gradient(0deg, rgba(111,53,252,1) 45%, rgba(115,87,151,1) 65%);
}
.type1-rock-type2-poison{
  background: linear-gradient(0deg, rgba(182,161,54,1) 45%, rgba(163,62,161,1) 65%);
}
.type1-water-type2-ground{
  background: linear-gradient(0deg, rgba(99,144,240,1) 45%, rgba(226,191,101,1) 65%);
}
.type1-grass-type2-fighting{
  background: linear-gradient(0deg, rgba(122,199,76,1) 45%, rgba(194,46,40,1) 65%);
}
.type1-ice-type2-dark{
  background: linear-gradient(0deg, rgba(150,217,214,1) 45%, rgba(64,54,48,1) 65%);
}
.type1-normal-type2-normal{
  background: linear-gradient(0deg, rgba(168,167,122,1) 45%, rgba(136,136,104,1) 65%);
}
.type1-ghost-type2-fire{
  background:  linear-gradient(0deg, rgba(115,87,151,1) 45%, rgba(238,129,48,1) 65%);
}
.type1-electric-type2-fighting{
  background: linear-gradient(0deg, rgba(247,208,44,1) 45%, rgba(194,46,40,1) 65%);
}
.type1-water-type2-fighting {
    background: linear-gradient(0deg, rgba(99,144,240,1) 45%, rgba(194,46,40,1) 65%);
}
.type1-grass-type2-poison {
    background: linear-gradient(0deg, rgba(122,199,76,1) 45%, rgba(163,62,161,1) 65%);
}
.type1-fire-type2-steel {
    background: linear-gradient(0deg, rgba(238,129,48,1) 45%, rgba(183,183,206,1) 65%);
}
.type1-grass-type2-grass {
    background: linear-gradient(0deg, rgba(122,199,76,1) 45%, rgba(92,190,33,1) 65%);
}
.type1-ice-type2-ice {
    background: linear-gradient(0deg, rgba(150,217,214,1) 45%, rgba(93,199,194,1) 65%);
}
.type1-electric-type2-electric {
    background: linear-gradient(0deg, rgba(247,208,44,1) 45%, rgba(236,196,28,1) 65%);
}
.loader {
    background: linear-gradient(to right, rgb(22, 113, 202) 50%, transparent 50%);
    animation: spin 1s infinite linear;
}

    .loader:before {
        display: block;
        content: '';
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90px;
        height: 90px;
        background: #222;
        border-radius: 50%;
    }

.gelatine {
    animation: gelatine 0.5s infinite;
}

@keyframes gelatine {
    from, to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.spin {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.elastic-spin {
    animation: elastic-spin 1s infinite ease;
}

@keyframes elastic-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.2);
    }
}

.flash {
    animation: flash 500ms ease infinite alternate;
}

@keyframes flash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.hithere {
    animation: hithere 1s ease infinite;
}

@keyframes hithere {
    30% {
        transform: scale(1.2);
    }

    40%, 60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.grow {
    animation: grow 2s ease infinite;
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.fade-in {
    animation: fade-in 2s linear infinite;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 2s linear infinite;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.bounce {
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    70% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-15%);
    }

    90% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(-7%);
    }

    97% {
        transform: translateY(0%);
    }

    99% {
        transform: translateY(-3%);
    }

    100% {
        transform: translateY(0);
    }
}

.bounce2 {
    animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.shake {
    animation: shake 2s ease infinite;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.flip {
    backface-visibility: visible !important;
    animation: flip 2s ease infinite;
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out;
    }

    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }

    100% {
        transform: perspective(400px) scale(1);
        animation-timing-function: ease-in;
    }
}

.swing {
    transform-origin: top center;
    animation: swing 2s ease infinite;
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.wobble {
    animation: wobble 2s ease infinite;
}

@keyframes wobble {
    0% {
        transform: translateX(0%);
    }

    15% {
        transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        transform: translateX(20%) rotate(3deg);
    }

    45% {
        transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        transform: translateX(10%) rotate(2deg);
    }

    75% {
        transform: translateX(-5%) rotate(-1deg);
    }

    100% {
        transform: translateX(0%);
    }
}

.fade-in-down {
    animation: fade-in-down 2s ease infinite;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-left {
    animation: fade-in-left 2s ease infinite;
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-out-down {
    animation: fade-out-down 2s ease infinite;
}

@keyframes fade-out-down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.fade-out-right {
    animation: fade-out-right 2s ease infinite;
}

@keyframes fade-out-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

.bounce-in {
    animation: bounce-in 2s ease infinite;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

.bounce-in-right {
    animation: bounce-in-right 2s ease infinite;
}

@keyframes bounce-in-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        transform: translateX(-30px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.bounce-out {
    animation: bounce-out 2s ease infinite;
}

@keyframes bounce-out {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(.95);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(.3);
    }
}

.bounce-out-down {
    animation: bounce-out-down 2s ease infinite;
}

@keyframes bounce-out-down {
    0% {
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.rotate-in-down-left {
    animation: rotate-in-down-left 2s ease infinite;
}

@keyframes rotate-in-down-left {
    0% {
        transform-origin: left bottom;
        transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1;
    }
}

.rotate-in-up-left {
    animation: rotate-in-up-left 2s ease infinite;
}

@keyframes rotate-in-up-left {
    0% {
        transform-origin: left bottom;
        transform: rotate(90deg);
        opacity: 0;
    }

    100% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1;
    }
}

.hinge {
    animation: hinge 2s ease infinite;
}

@keyframes hinge {
    0% {
        transform: rotate(0);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    20%, 60% {
        transform: rotate(80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    40% {
        transform: rotate(60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    80% {
        transform: rotate(60deg) translateY(0);
        opacity: 1;
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: translateY(700px);
        opacity: 0;
    }
}

.roll-in {
    animation: roll-in 2s ease infinite;
}

@keyframes roll-in {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-120deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
}

.roll-out {
    animation: roll-out 2s ease infinite;
}

@keyframes roll-out {
    0% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translateX(100%) rotate(120deg);
    }
}