* {
    font-family: 'Bungee', cursive;
    box-sizing: border-box;
}
body {
    background-color: #247ba0;
    margin: 0;
    position: relative;
}
.btn {
    color: #fffcff;
    border-radius: 10px;
    margin: 5px;
    flex: 1;
    font-size: 1rem;
    background-color: #f24236;
    text-align: center;
    min-width: fit-content;
    padding: 5px;
    cursor: pointer;
}
.hidden{
    display:none;
}
#navButtons{
margin: auto;
}
#navMenu {
    margin-top: 5px;
    cursor: pointer;
    background-color: #50514f;
    margin: 0;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 10vh;
    z-index: 4;
    top:0;
}
.spacer{
    height: 10vh;
    width: 100%;
}
.vertical {
    max-width: fit-content;
    height: 13vh;
    padding: 2px;
}
#pkmTeam {
    height: 100%;
    width: fit-content;
    justify-content: space-between;
    flex-direction:column;
    top: 0;
    float: left;
    position: fixed;
    padding-bottom: 15px;
}
.sticky {
    position: sticky;
    z-index: 3;
}
.container {
  align-items:center;
  background-color: #247ba0;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-between;
  padding: 5px;
}
#box{
    margin-left:90px;
}
.pkmTeam {
  flex: 1;
  max-width: 320px;
  max-height: 320px;
}
.image {
 width: 100%;
 height: 100%;
 z-index: 2;
 
}
.pkm, .placeholder{

  max-width: 300px;

  display:flex;
  border-radius: 100%;


}
.name{
  box-shadow: 2px 2px 4px 4px #50514f;
}
.row{
  display: flex;
}

#weakType{
  position: absolute;
  list-style: none;
  display: flex;
  margin: auto;
  justify-items: center;
}
.name, .type{
  display: flex;
  position: absolute;
  width: 100%;
  border-radius: 50px;
  padding: 1.25rem;
  align-self: center;
  line-height: 0;
  justify-content: center;
  margin: -20px;
  white-space: nowrap;
  
}
.name{
  font-size: 2rem;
}
.type{
  bottom: 0;
  font-size: 1.5rem;
}

.pkmBox{
  color: #fffcff;
  border-radius: 50px;
  box-shadow: 2px 2px 4px 4px #50514f;
  transition: all 300ms ease-in-out;
  margin: 12px;
  flex: 1 25%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  font-size: 1.5rem;
}

.pkmBox{
  text-align: left;
  line-height: 60px;

  padding: 1rem;
  max-width: 300px;
}
.pkmBox:hover {
  background-color: #f24236;
}
.batttleGround {
    width: 100%;
    height: 40vh;
    position: sticky;
    top: 0;
    border: solid 1px red;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83htw0-ec490c3b-f7dd-4570-a698-8404a8a12f99.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDgzaHR3MC1lYzQ5MGMzYi1mN2RkLTQ1NzAtYTY5OC04NDA0YThhMTJmOTkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.zFeU6uxxutMPR_qMMoP5MOM8N4EqbYuZWc_naTh8Rpw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left, .right {
    margin: 3px;
}

.left {
    width: 130px;
    float: left;
}

.right {
    float: right;
    width: 130px;
}

.partner {
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    left: 5;
    z-index: 2;
}

.enemy {
    position: absolute;
    right: 5;
}

.health {
    border-top: solid green 10px;
}

.moveOptions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #247ba0;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}

.pkmOpt {
    width: 100px;
    height: auto;
    border-radius: 10px;
    background-color: #157299;
    margin: 10px 20px;
    box-shadow: 2px 2px 4px 4px #50514f;
}


#Magneton{
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/082.png);
}
#Garchomp{
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/445.png);
}
#Baxcalibur {
  background-image:  url(https://www.serebii.net/scarletviolet/pokemon/new/998.png);
}
#Slowbro {
  background-image: url(https://www.serebii.net/swordshield/pokemon/080.png);
}
#Kilowattrel {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/941.png);
}

#Meowscarada {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/908.png);
}
#Tauros {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/128-b.png);
}
#Gengar {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/094.png);
}
#Hydreigon {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/635.png);
}
#Gholdengo {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/1000.png);
}
#Espathra {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/956.png);
}
#Slowking {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/199.png);
}
#Dragonite {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/149.png);
}
#Donphan {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/232.png);
}
#Dragapult {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/887.png);
}
#GreatTusk {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/984.png);
}
#Glimmora {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/970.png);
}
#Chi-Yu {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/1004.png);
}
#Gastrodon {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/423.png);
}
#Breloom {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/286.png);
}
#Chein-Pao {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/1002.png);
}
#Volcarona {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/637.png);
}
#Maushold {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/925-f.png);
}
#Azumaril {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/184.png);
}
#Scizor {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/212.png);
}
#Ceruledge {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/937.png);
}
#IronHands {
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/992.png);
}
#FlutterMane{
  background-image: url(https://www.serebii.net/scarletviolet/pokemon/new/987.png);
}
.type1-steel-type2-bug{
background: linear-gradient(90deg, rgba(183,183,206,1) 45%, rgba(166,185,26,1) 65%);
}
.type1-fire-type2-bug{
background: linear-gradient(90deg, rgba(238,129,48,1) 45%, rgba(166,185,26,1) 65%);
}
.type1-ghost-type2-fairy{
  background: linear-gradient(90deg, rgba(115,87,151,1) 45%, rgba(214,133,173,1) 65%);
  }
.type1-water-type2-fairy{
background: linear-gradient(90deg, rgba(99,144,240,1) 45%, rgba(214,133,173,1) 65%);
}
.type1-electric-type2-flying{
  background: linear-gradient(90deg, rgba(247,208,44,1) 45%, rgba(169,143,243,1) 65%);
}
.type1-dragon-type2-ground{
  background: linear-gradient(90deg, rgba(111,53,252,1) 45%, rgba(226,191,101,1) 65%);
}
.type1-electric-type2-steel{
  background: linear-gradient(90deg, rgba(247,208,44,1) 45%, rgba(183,183,206,1) 65%);

}.type1-fighting-type2-ground{
  background:  linear-gradient(90deg, rgba(194,46,40,1) 45%, rgba(226,191,101,1) 65%);
}

.type1-dragon-type2-ice{
  background: linear-gradient(90deg, rgba(111,53,252,1) 45%, rgba(150,217,214,1) 65%);
}

.type1-water-type2-psychic{
  background: linear-gradient(90deg, rgba(99,144,240,1) 45%, rgba(249,85,135,1) 65%);
}

.type1-grass-type2-dark{
  background: linear-gradient(90deg, rgba(122,199,76,1) 45%, rgba(64,54,48,1) 65%);
}
.type1-fire-type2-dark{
  background: linear-gradient(90deg, rgba(238,129,48,1) 45%, rgba(64,54,48,1) 65%);
  }
.type1-fire-type2-fighting{
  background: linear-gradient(90deg, rgba(238,129,48,1) 45%, rgba(194,46,40,1) 65%);
}

.type1-ghost-type2-poison{
  background: linear-gradient(90deg, rgba(115,87,151,1) 45%, rgba(163,62,161,1) 65%);
}
.type1-dragon-type2-dark{
  background: linear-gradient(90deg, rgba(111,53,252,1) 45%, rgba(64,54,48,1) 65%);
}
.type1-ghost-type2-steel{
  background: linear-gradient(90deg, rgba(115,87,151,1) 45%, rgba(183,183,206,1) 65%);
}
.type1-psychic-type2-psychic{
  background:linear-gradient(90deg, rgba(249,85,135,1) 45%, rgba(203,53,98,1) 65%);
}
.type1-dragon-type2-flying{
  background: linear-gradient(90deg, rgba(111,53,252,1) 45%, rgba(169,143,243,1) 65%);
}
.type1-ground-type2-ground{
  background: linear-gradient(90deg,  rgba(226,191,101,1) 45%, rgba(200,160,56,1) 65%);

}
.type1-dragon-type2-ghost{
  background: linear-gradient(90deg, rgba(111,53,252,1) 45%, rgba(115,87,151,1) 65%);
}
.type1-rock-type2-poison{
  background: linear-gradient(90deg, rgba(182,161,54,1) 45%, rgba(163,62,161,1) 65%);
}
.type1-water-type2-ground{
  background: linear-gradient(90deg, rgba(99,144,240,1) 45%, rgba(226,191,101,1) 65%);
}
.type1-grass-type2-fighting{
  background: linear-gradient(90deg, rgba(122,199,76,1) 45%, rgba(194,46,40,1) 65%);
}
.type1-ice-type2-dark{
  background: linear-gradient(90deg, rgba(150,217,214,1) 45%, rgba(64,54,48,1) 65%);
}
.type1-normal-type2-normal{
  background: linear-gradient(90deg, rgba(168,167,122,1) 45%, rgba(136,136,104,1) 65%);
}
.type1-ghost-type2-fire{
  background:  linear-gradient(90deg, rgba(115,87,151,1) 45%, rgba(238,129,48,1) 65%);
}
.type1-electric-type2-fighting{
  background: linear-gradient(90deg, rgba(247,208,44,1) 45%, rgba(194,46,40,1) 65%);
}
.psychic{
  background: rgba(249,85,135,1)
}